@import 'variables';
@import 'mixins';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

h2 {
  font-size: 40px;
  font-weight: 100;
  line-height: 2em;
  margin-bottom: 25px;

  span {
    font-size: 1.25em;
    font-weight: 300;
  }
}

.container {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60%;
  justify-content: space-between;
  width: 100%;
}

.box {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  color: $white;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 52px;
  flex-direction: column;
  justify-content: center;
  height: calc(33.3% - 10px);
}

.widget-content {
  text-align: center;
}

.widget-subtext {
  display: block;
  font-size: 12px;
  opacity: .5;
  text-transform: uppercase;
  font-weight: 300;
}

.widget-helper {
  border-right: 1px solid $white;
  height: 40px;
  margin: 0 10px;
  opacity: .5;
}

.widget-sufix {
  font-size: 40px;
  opacity: .5;
}

@include max-screen(map-get($breakpoints, tablet)) {
  .wrapper {
    justify-content: flex-start;
    margin: 0 auto;
    width: 95%;
  }

  .container {
    align-content: flex-start;
  }

  .box {
    width: 100% !important;
  }

  h2 {
    font-size: 24px;
  }
}
